<div class="container mx-auto text-center">
  <h1 class="text-3xl font-bold mt-20 mb-10">Tokenize Developer Test</h1>

  <div class="mb-6">{{ timer$ | async | date: 'yyyy/MM/dd HH:mm:ss' }}</div>

  <div class="flex justify-center gap-5">
    <div class="flex-1 border max-w-md pb-4">
      <div class="flex justify-between px-8 pt-5">
        <div>Size</div>
        <div>Bid</div>
      </div>
      <div class="border m-3"></div>
      <div *ngFor="let item of orderbook.bid;" class="flex justify-between px-8 py-1">
        <div>{{ item.size }}</div>
        <div>{{ item.price }}</div>
      </div>
      <div class="border m-3"></div>
      <div>Total Amount: {{ totalBidAmount }}</div>
    </div>
    <div class="flex-1 border max-w-md pb-4">
      <div class="flex justify-between px-8 pt-5 pb-2">
        <div>Ask</div>
        <div>Size</div>
      </div>
      <div class="border m-3"></div>
      <div *ngFor="let item of orderbook.ask;" class="flex justify-between px-5 py-1">
        <div>{{ item.price }}</div>
        <div>{{ item.size }}</div>
      </div>
      <div class="border m-3"></div>
      <div>Total Size: {{ totalAskSize }}</div>
    </div>
  </div>
</div>
